:root{
  --primary-theme-color: #0077B5 /*LinkedInBlue*/;
  --buttons-color: #0077B5 /*LinkedInBlue*/;
  --primary-bg-color: transparent;
  --primary-font-color: white;
  --img-text-bg-color: rgb(0,0,0,0.2);
  --img-text-font-size-mobile: 0.8em;
  --img-text-box-width: 20em;
  --img-text-box-width-mobile: 15em;
  --banner-image-card-position: 5em;
}

body{
  font-family: "times new roman",serif;
  color: var(--primary-font-color);


}

.carousel{
  top: 0;
  position: fixed;

}

.carousel-inner .carousel-item {
  height: 100vh;
  width: 100vw;
}

.carousel-item img{
  height: 100vh;
  }

.firstSlide{
  opacity: 0.5;
}

.navbar{
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
}

.navbar ul {
  width: 45%;
}

.nav-item{
  width: 100%;
  text-align: center;
}

.navbar-toggler{
  z-index: 10;
  color: white;
}

.card{
  /*max-width: 50rem;*/
  position: absolute;
  top: var(--banner-image-card-position);
  left: 45%;
  z-index: 10;
  text-align: center;
  font-size: 1.5em;
  border-color: transparent;
}

.card h2,p{
  text-align: left;
}

.card-text{
  max-width: 21em;
}

.main1{
  page-break-after: always;
}

section {
display: block;
}
@media only screen and (max-width: 590px) {
  .card{
    font-size: 0.9em;
    position: fixed;
    width: auto;
    height: auto;
    left: 10%;

  }

  .card-title{
    transform: scale(0.8);
  }

}

@media only screen and (max-width: 590px) {
