.container{
  background-color: black;


}
/*specivity testing*/
.tabs .container{
  background-color: blue;

  color: yellow;
}


.tabs {
  background-color: powderblue;
  font-size: 3em;
  color: orange;
}

/*targeting of elements in containers with class att*/
.tabs  div {
  padding: 5em 3em;
}

/*class within a class (sub-class)*/
.withinContainer {
  text-shadow: 1.5em 1.5em 1.5em black;
}
